body {
  margin: 0 0 0 0;
  width: 100%;
}

.grass {
  background: green;
  height: 100%;
  width: 100%;
  position: absolute;
}

.sky {
  height: 500px;
  width: 100%;
  animation-name: skyColors;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.sun {
  margin: 0 auto;
  background: #f1c40f;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation-name: sunArch;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@keyframes skyColors {
  0% {
    background-color: #350142;
  }
  5% {
    background-color: #350142;
  }
  10% {
    background-color: pink
  }
  30% {
    background-color: lightblue;
  }
  70% {
    background-color: lightblue;
  }
  90% {
    background-color: pink;
  }
  95% {
    background-color: #350142;
  }
  100% {
    background-color: #350142;
  }
}

@keyframes sunArch {
  0% {
    transform: translate(-300%, 500px);
    background-color: red;
  }
  20% {
    transform: translate(-250%, 400px);
    background-color: yellow;
  }
  50% {
    transform: translate(0, 140px);
  }
  80% {
    transform: translate(250%, 400px);
    background-color: yellow;
  }
  100% {
    transform: translate(300%, 500px);
    background-color: red;
  }
}

